@import "fonts";
@import "vars";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px !important; // for better font calculate in rem.
  font-family: $main-font;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  color: $text-black-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-black-color;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}

.green-icon {
  color: $main-green-color;
}

h2 {
  font-size: 60px;
  line-height: 60px;
}

h3 {
  font-size: 36px;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  line-height: 24px;
}
