/* Fonts */
$title-font: 'Gelasio', serif;
$main-font: 'PT Sans', Helvetica, sans-serif;

/* Color */
$while-color: #fff;
$black-color: #000;
$main-green-color: #6fbc29;
$text-black-color: #363636;
$title-black-color: #262626;
$light-grey-bg-color: #f1f1f1;
